{% extends "base.html" %}

{% block content %}
<h1 class="title">
  NBA Himdex
</h1>
<h2 class="subtitle">
  Who is HIM?
</h2>
<br>
<div class="card">
  <h5 class="card-header">NBA HIMdex</h5>
   <div class="card-body" style="display: block; overflow-x: auto;">
      <div class = "table-responsive">
          <div id = "data-table-basic_wrapper" class = "dataTables_wrapper">
              <table id = "himdex_table" class = "dataTable display" style = "white-space: nowrap;">
                  <thead>
                      <tr>
                          <th>Season</th>
                          <th>Team</th>
                          <th>Player</th>
                      </tr>
                  </thead>
                  <tbody id = "table_body">

                  </tbody>
              </table>
          </div>
      </div>
      
  
  </div>

</div>
<br>
{% endblock %}