{% extends "base.html" %}

{% block content %}
<br>
<div class="row">
  <div class="col-md-1">
    <img src="{{url_for('static', filename='img/icon.png')}}" height="150" width="75">
    <!-- https://andscape.com/features/new-nba-logo/ -->
  </div>
  <div class="col-md-6">
    <h1 class="title default-font">
      <strong>NBA HIMdex</strong>
    </h1>
    <h3 class="subtitle default-font">
      Who is <b>HIM</b>?
    </h3>
    <p>
      Choose the player you think is <b>HIM</b> and find out who else is HIM.<br>
      In other words, who else impacts the game in a similar way?
    </p>
  </div>
</div>
<br>

<div class="card">
  <h5 class="card-header text-white sub-color default-font">Instructions</h5>
  <div class="card-body">
    <h6>
      <ol>
        <li>Select a season.</li>
        <li>Select the player you believe is <b>HIM</b>.</li>
        <li>Click the <b>Load HIM Group</b> button to load similar players from that season.</li>
      </ol>
    </h6>
    <p><b>Pro Tip:</b> Click on the player in the table to view the numbers! 
      Learn more about the calculations <a href="/about#about_metrics" class="a-style">here</a>.<br>
      <b>Note:</b> Players who played on different teams in the same season may have more than 1 HIM Group.
    </p>
  </div>
</div>
<br>

<div class="card">
  <h5 class="card-header text-white sub-color default-font">Select HIM</h5>
  <div class="card-body">
      <div class="row">
        <div class="col-md-2 text-container">
          <h6 class="card-title default-font"><strong>Season:</strong></h6>
        </div>
        <div class="col-md-4">
          <select id="season_dropdown" class="dropdown-menu" style="display: block; width: 80%;" onChange="loadPlayers(this);">
            <option></option> <!-- Empty option for placeholder -->
            {% for season in seasons %}
            <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-2 text-container">
          <h6 class="card-title default-font"><strong>Player:</strong></h6>
        </div>
        <div class="col-md-4">
          <select id="player_dropdown" class="dropdown-menu" style="display: block; width: 80%;" onChange="activateButton(this);" disabled>
              <option value="Select Player">Select Player</option>
          </select>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div id="toolbar" class="button-container">
            <button id="search_him_players" class="btn btn-warning btn-color" style="width: 50%" disabled>
              <span id="search_spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
              Load HIM Group
            </button>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>

  </div>
</div>
<br>

<div class="card">
  <h5 class="card-header text-white sub-color default-font">NBA HIMdex</h5>
   <div class="card-body" style="display: block; overflow-x: auto;">
      <div class = "table-responsive">
          <div id = "data-table-basic_wrapper" class = "dataTables_wrapper">
              <table id = "himdex_table" class = "dataTable display" style = "white-space: nowrap;">
                  <thead>
                      <tr>
                          <th>Team</th>
                          <th></th>
                          <th>Player</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody id = "table_body">

                  </tbody>
              </table>
          </div>
      </div>
      
  
  </div>

</div>
<br>
{% endblock %}